{% extends "base.html" %}

{% block title %}Bookmark an image{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>Bookmark an image</h1>
  </div>

  <div class="create-layout">

    <div class="preview-pane">
      <img src="{{ request.GET.url }}" alt="Image to bookmark">
      <div class="preview-label">Image to be saved</div>
    </div>

    <div class="form-pane">
      <h1>Details</h1>
      <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Bookmark it!">
      </form>
    </div>

  </div>

{% endblock %}
